POSTGRES_USER=movie_admin
POSTGRES_PASSWORD=local_admin_change_me
APP_DB_PASSWORD=local_app_change_me
POSTGRES_PORT=5432
REDIS_PASSWORD=local_redis_change_me
REDIS_PORT=6379
KAFKA_PORT=9092
AUTH_USERNAME=demo
AUTH_PASSWORD=local_auth_change_me
JWT_ISSUER_URI=http://localhost:9000
AUTH_REDIRECT_URI=http://127.0.0.1:3000/callback
AUTH_ALLOWED_ORIGIN=http://127.0.0.1:3000
